<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Xdev</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.31/vue.cjs.js"
	integrity="sha512-2e2aXOh4/FgkCAUyurkjk0Uw4m1gPcExFwb1Ai4Ajjg97se/FEWfrLG1na4mq8cgOzouc8qLIqsh0EGksPGdqQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.chartMenu {
	width: 100vw;
	height: 40px;
	background: #1A1A1A;
	color: rgba(255, 26, 104, 1);
}

.chartMenu p {
	padding: 10px;
	font-size: 20px;
}

.chartCard {
	width: 100vw;
	height: calc(100vh - 40px);
	background: rgba(255, 26, 104, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.chartBox {
	width: 700px;
	padding: 20px;
	border-radius: 20px;
	border: solid 3px rgba(255, 26, 104, 1);
	background: white;
}
</style>

</head>
<body>
	<!-- create navigation bar ( header) -->
	<!-- Header potisuwan -->
	<div th:replace="~{fragments/header :: header}"></div>

	<!-- Header potisuwan -->

	<!-- Body potisuwan -->

	<h1>ds</h1>

	<div class="chartMenu">
		<p>WWW.CHARTJS3.COM (Chart JS 3.7.1)</p>
	</div>
	<div class="chartCard">
		<div class="chartBox">
			<canvas id="myChart"></canvas>
		</div>
	</div>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
    // setup 
    const data = {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      datasets: [{
          label: 'Weekly Sales',
          data: [18, 7, 6, 9, 12, 3, 9],
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
        },
        {
            label: 'Weekly Profits',
            data: [9, 6, 3, 4.5, 6, 1.5, 4.5],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
          }]
    };
    
 // customLegend plugin
    const customLegend = {
    		id: 'customLegend',
    		afterDraw: (chart, args, options) => {
    			const { _metasets, ctx} = chart;
    			ctx.save();
    			_metasets.forEach((meta) => {
    				//console.log(meta.data[meta.data.length - 1].y)
    				ctx.font = 'bolder 12px Arial';
    				ctx.fillStyle = meta._dataset.borderColor;
    				ctx.textBaseline = 'middle';
    				
    				//ctx.fillText(meta._dataset.label, 400, 400);
    				//ctx.fillText(meta._dataset.label, xPosition, yPosition);
    				ctx.fillText(meta._dataset.label, meta.data[meta.data.length - 1].x + 6, meta.data[meta.data.length - 1].y)
    			})
    		}
    }

    // config 
    const config = {
      type: 'line',
      data,
      options: {
    	  layout: {
			  padding: {
				  right: 100
			  }
    	},
    	plugins: {
  		  legend: {
  			 // display: false
  		  }    		  
  	  },
  		tension: 0.4,
      scales: {
      	y: {
        	beginAtZero: true
          }
        }
      },
    	plugins: [customLegend]
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    </script>

	<!-- Body potisuwan -->

	<!-- Footer potisuwan -->

	<div th:replace="~{fragments/footer :: footer}"></div>
	<!-- Footer potisuwan -->

</body>
</html>
